@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: white;
    --textColor: black;
    --softBg: #f0f0f0;
    --softTextColor: #626262;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.dark {
    background-color: #0f172a;
    color: #ddd;
    --softBg: #1f273a;
    --softTextColor: #a6a6a6;
    min-height: 100vh;
}

.light {
    background-color: white;
    color: black;
    --softBg: #f0f0f0;
    --softTextColor: #626262;
    min-height: 100vh;
}

img {
    border-radius: 50%;
}